.back-button {
    background-color: transparent; /* Set background to transparent */
    color: #007bff; /* Set text color to Bootstrap default blue */
    padding: 8px;
    border: none;
    cursor: pointer;
    z-index: 1;
    font-size: 16px;
  }